body{
  background-color:  #b2dfdb;
  font-family: Arial,sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  height: 90px;
  width: 100px;
}

header{
  background-color: #006064;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1{
  font-family: bahnschrift,Arial,sans-serif;
  margin: 0;
}

.search-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#search{
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: #b0bec5;
  color: white;

}

#submit{
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
}

#submit:hover{
  background-color: #00e676;
  color: gainsboro;
}

nav{
  background-color: #00796b;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  position: relative;
}

nav a {
  display: block;
  padding: 14px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  background-color: #00897b;
  color: #fff;
}

nav .dropdown:hover .dropdown-menu {
  display: block;
}

nav .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px 0;
  background-color: #00796b;
  border: 1px solid #ccc;
}

.section2 .container {
  display: flex;
  width: 100%;
  height: max-content;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
}
.section2 .container .items {
  margin: 10px;
  width: 200px;
  height: 300px;
  background-color: white;
  border: 2.5px solid black;
  border-radius: 12px;
}
.section2 .container .items .name {
  text-align: center;
  background-color: #009688;
  height: 25px;
  padding-top: 4px;
  color: white;
  margin: 0;
}
.section2 .container .items .price {
  float: left;
  padding-left: 10px;
  display: block;
  width: 100%;
  color: rgb(255, 0, 0);
  font-weight: 650;
}
.section2 .container .items .info {
  padding-left: 10px;
  color: #004d40;
}
.section2 .container .items .img img {
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  border-radius: 12px;
  transition-duration: 0.8s;
}
.section2 .container .items .img {
  overflow: hidden;
  margin: 0;
}
.section2 .container .items:hover .img img {
  transform: scale(1.2);
  transition-duration: 0.8s;
  border-radius: 12px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #006064;
  align-items: center;
  color: white;
}

.footer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 15px;
}
.social-media {
  display: flex;
  justify-content: center;
  color: white;
  flex-wrap: wrap;
}
.social-media a {
  color: white;
  margin: 20px;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
}
.social-media a img {
  color: white;
  background-color: white;
  width: 70px;
  height: 70px;
}
.social-media a:hover img {
  color: red;
  transform: translateY(5px);
}
.footer2 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  flex-wrap: wrap;
}

.footer2 .heading {
  font-weight: 900;
  font-size: 18px;
}
.footer3 {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer2 .heading:hover {
  color: springgreen;
}
.footer2 .div:hover {
  transform: scale(1.05);
}
.footer3 h4 {
  margin: 0 10px;
}
.footer2 div {
  margin: 10px;